!##########
!# Xft settings
!##########

!Xft.dpi:                    96
!Xft.antialias:              true
!Xft.rgba:                   rgb
!Xft.hinting:                true
!Xft.hintstyle:              hintslight

Xft.dpi: 96
Xft.autohint: false
Xft.antialias: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

URxvt*font:                             xft:Noto Mono:size=12:antialias=true:hinting=true, \
                                        xft:DejaVu Sans Mono Book 9:size=18, \
                                        xft:Unifont:size=16
URxvt*boldFont:                         xft:Noto Mono:size=16:antialias=true:hinting=true, \
                                        xft:DejaVu Sans Mono Book 9:size=18, \
                                        xft:Unifont:size=16
URxvt*italicFont:                       xft:Noto Mono:size=16:antialias=true:hinting=true, \
                                        xft:DejaVu Sans Mono:size=18, \
                                        xft:Unifont:size=16
URxvt*boldItalicFont:                   xft:Noto Mono:size=16:antialias=true:hinting=true, \
                                        xft:DejaVu Sans Mono:size=18, \
                                        xft:Unifont:size=16
!URxvt*italicFont:                       xft:Bitstream Vera Sans Mono:italic:autohint=true:pixelsize=12
!URxvt*boldItalicFont:                   xft:Bitstream Vera Sans Mono:bold:italic:autohint=true:pixelsize=12

!################
!# URXVT settings
!################

!URxvt.depth:                32
URxvt.depth:                24
URxvt.geometry:             90x30
URxvt.loginShell:           true
URxvt.internalBorder:       3
URxvt.lineSpace: 0

URxvt*saveLines:            65000

URxvt*scrollBar: false

!tabs
URxvt.perl-ext-common: default,tabbed
!URxvt.perl-ext-common: default,tabbed,font-size


!##########
!# Colors
!##########

URxvt*background: #2C2C2C
URxvt*foreground: #DCDCCC
! black
URxvt.color0  : #3F3F3F
URxvt.color8  : #709080
! red
URxvt.color1  : #705050
URxvt.color9  : #DCA3A3
! green
URxvt.color2  : #60B48A
URxvt.color10 : #72D5A3
! yellow
URxvt.color3  : #DFAF8F
URxvt.color11 : #F0DFAF
! blue
URxvt.color4  : #9AB8D7
URxvt.color12 : #94BFF3
! magenta
URxvt.color5  : #DC8CC3
URxvt.color13 : #EC93D3
! cyan
URxvt.color6  : #8CD0D3
URxvt.color14 : #93E0E3
! white
URxvt.color7  : #DCDCCC
URxvt.color15 : #FFFFFF
